<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
  <key>SWIFTYBEAVER_APP_ID</key>
  <string>$(SWIFTYBEAVER_APP_ID)</string>
  <key>SWIFTYBEAVER_APP_SECRET</key>
  <string>$(SWIFTYBEAVER_APP_SECRET)</string>
  <key>SWIFTYBEAVER_ENCRYPT_KEY</key>
  <string>$(SWIFTYBEAVER_ENCRYPT_KEY)</string>
</dict>
</plist>
